modules = ["python-base-3.13", "nodejs-22"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[[ports]]
localPort = 3000
externalPort = 3001

[[ports]]
localPort = 23344
externalPort = 80

[[ports]]
localPort = 23345
externalPort = 3002
